/*header{
	background-image:url("../images/flywheel.png");
	background-repeat:no-repeat;
	background-position: 100px 50px;
	margin:0;
	text-decoration:none;
	padding: 20px;

}

h1{

	text-align: center;
	color: #808080;
	text-transform: uppercase;
}

.right{
	padding-left: 180px;
}

a{
	color: #000000;
	margin: 80px;
	text-decoration: none;
	padding: 19px;
	background-color: #ffffff;
	border-radius: 4px;

}
.left{
	border: 2px solid black;
	width: 50px;
	position: left;
	background-color: #000000;
	
}

aside{
	display: none;
	border: 2px solid black;
	margin: 20px;
	

}

body{
	padding: 10px;
	background-color: #000000;
	background-image: url("images/flywheel.png");
	background-repeat: no-repeat;
	background-position: fixed center;
}


margin: 0 auto;
background-image:url("flywheel.jpg");
	background-color: #000000;
	font-weight: bold;
	margin-right: 1058px;
	margin-right: 0px;
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	*/

body{
	padding: 10px;
	margin: 5px;
}

h1{
	text-transform: uppercase;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 40px;

}

header{
	background-color: blue;
	background-image: url(../images/flywheel.jpg);
	padding: 25px;
	
}

nav a{
	margin: 100px;
	border-radius: 4px;
	text-decoration: none;
	padding: 15px;
	background-color: #ffffff;
	opacity: 0.5;
	color: #000000;

}

.active{
	background-color: #ffffff;
	color: blue;
	opacity: 1;

}



.left,aside{
	background-color: red;
	padding: 20px;
	width: 17%;
	float: left;

}

.right,section{
	display: inline-block;
	float: right;
	width: 77%;
	margin-right: 30px;

}

img{
	display: inline-block;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 200px;
	border: 2px solid black;
	position: horizontal-center;
}

div{
	position: static;
}